In [1]:
import pandas as pd;
import numpy as np;
df=pd.read_csv("Heart.csv")

In [2]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [3]:
df.shape

(303, 15)

In [4]:
df.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [5]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [6]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [7]:
df==0

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
4,False,False,True,False,False,False,True,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
299,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False
300,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False
301,False,False,True,False,False,False,True,False,False,True,True,False,False,False,False
302,False,False,False,False,False,False,True,True,False,True,True,False,False,False,False

In [8]:
(df==0).sum()

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

In [9]:
df["Age"].mean()

54.43894389438944

In [11]:
from sklearn.model_selection import train_test_split
train, test=train_test_split(df[["Age","Sex","ChestPain","RestBP","Chol"]],test_size=0.25)

In [12]:
train

     Age  Sex     ChestPain  RestBP  Chol
179   53    1    nonanginal     130   246
190   50    1    nonanginal     129   196
192   43    1  asymptomatic     132   247
155   70    1  asymptomatic     130   322
194   68    0    nonanginal     120   211
..   ...  ...           ...     ...   ...
57    41    1  asymptomatic     110   172
222   39    0    nonanginal      94   199
79    58    1  asymptomatic     150   270
170   70    1    nonanginal     160   269
247   47    1  asymptomatic     110   275

[227 rows x 5 columns]

In [13]:
test

     Age  Sex     ChestPain  RestBP  Chol
36    43    1  asymptomatic     120   177
59    51    1       typical     125   213
177   56    1  asymptomatic     132   184
92    62    1    nonanginal     130   231
295   41    1    nontypical     120   157
..   ...  ...           ...     ...   ...
83    68    1    nonanginal     180   274
70    65    0    nonanginal     155   269
274   59    1       typical     134   204
220   41    0    nonanginal     112   268
293   63    1  asymptomatic     140   187

[76 rows x 5 columns]

In [14]:
df.duplicated().sum()

0

In [15]:
df[(df.AHD=='Yes')].Age.max()

77

In [16]:
df[(df.AHD=='Yes')].Age.min()

35

In [17]:
from sklearn.metrics import confusion_matrix,classification_report

In [19]:
import numpy as np

y_act = np.array([1]*50 + [0]*450)
y_pred = np.array([1]*45 + [0]*400 + [1]*55)

In [20]:
y_act=[1]*50+[0]*450
y_pred=[1]*45+[0]*400+[1]*55

In [21]:
print(confusion_matrix(y_act,y_pred))

[[395  55]
 [  5  45]]

In [22]:
print(classification_report(y_act,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.88      0.93       450
           1       0.45      0.90      0.60        50

    accuracy                           0.88       500
   macro avg       0.72      0.89      0.76       500
weighted avg       0.93      0.88      0.90       500